<nav class="navbar navbar-dark bg-dark mb-5 fixed-top">
  <a class="navbar-brand" href="/">{{ 'course.logo' | translate }}</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav" *ngIf="userStatus$ | async">
      <a class="nav-item nav-link active" href="/about">{{ 'course.navbar.about' | translate }}</a>
      <a class="nav-item nav-link" href="/">{{ 'course.navbar.courses' | translate }}</a>
      <a class="nav-item nav-link" href="#">{{ 'course.navbar.contact' | translate }}</a>
      <a class="nav-item nav-link" href="https://github.com/avistheripper" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
  <span class="navbar-text mr-5" *ngIf="userName">
      <i class="fa fa-user mr-1"></i>
    {{ userName?.first | uppercase}}
  </span>
    <div class="navbar-nav">
      <div class="btn-group">
          <button class="nav-item btn btn-danger" *ngIf="userStatus$ | async" (click)="onLogOut()">
            {{ 'course.action.logout' | translate }}
          </button>
      </div>
    </div>
  </div>
</nav>
