<div class="container">
  <div class="row">
      <div class="col-sm-6">
          <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Name, fragment or date"
                [(ngModel)]="searchQuery"
                (keyup)="logQuery($event)"
                >
              <div class="input-group-append">
              </div>
           </div>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-success" [routerLink]="['/create']">Add course</button>
      </div>
  </div>
</div>
