<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ course.name }}</li>
    </ol>
</nav>

<div class="jumbotron mb-5">
  <h2>Create and edit a course</h2>
  <div class="form-group">
    <label for="titleInput">Title *required</label>
    <input
      type="text"
      class="form-control"
      id="titleInput"
      placeholder="Name of your course"
      [(ngModel)]="course.name"
      required
      >
  </div>
  <div class="form-group">
    <label for="descriptionTextarea">Description *required</label>
    <textarea
      class="form-control"
      id="descriptionTextarea"
      rows="5"
      [(ngModel)]="course.description"
      required
      >
    </textarea>
  </div>
  <div class=" form-row form-group">
    <div class="col-sm-3">
        <label for="courseDate">Date *required</label>
        <input
          type="date"
          id="courseDate"
          class="form-control"
          [(ngModel)]="course.date"
          required
          >
    </div>
  </div>
  <div class=" form-row form-group">
      <div class="col-sm-3">
          <label for="courseDuration">Duration *required</label>
          <input
            type="number"
            id="courseDuration"
            class="form-control"
            [(ngModel)]="course.duration"
            required
            >
      </div>
      <div class="col-sm-3">
          <label for="formattedTime">Formatted time</label>
         <h5 id="formattedTime" *ngIf="course.duration">{{ course.duration | timePrecision }}</h5>
      </div>
    </div>
  <div class="form-group">
      <label for="courseAuthor">Authors</label>
      <input
        type="text"
        class="form-control"
        id="courseAuthor"
        placeholder="Authors"
        [(ngModel)]="course.authors"
        >
  </div>
  <button type="button" class="btn btn-primary btn-lg" (click)="onSave()">Save</button>
  <button type="button" class="btn btn-secondary btn-lg ml-2" (click)="onCancel()">Cancel</button>
</div>
