<div class="card mb-3 course">
  <div class="card-header">
      Course #{{ courseItem.id }}
      <i  *ngIf="courseItem.topRated"
          [ngClass]="{'rated': courseItem.topRated}"
          class="fa fa-star ml-4"
      ></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ courseItem.name | uppercase }}</h5>
    <p class="card-text">{{ courseItem.description }}</p>
    <button class="btn btn-success" [routerLink]="['edit/', courseItem.id]">Edit</button>
    <button class="btn btn-danger btn-md ml-3" (click)="deleteHandle(courseItem.id)">Delete</button>
    <span class="badge badge-info ml-5">
      Duration: {{courseItem.duration | timePrecision}}, Date: {{courseItem.date | date:"MM/dd/yy"}}
    </span>
  </div>
</div>
